.> TENSORFLOW AND KERAS (FOR MAKING ,COMPILING VARIOUS LAYERS) 
.> SKLEARN
.> NUMPY
.> PANDAS (READING AND MODIFYING DATA)
.> OPENCV(FOR IMAGE SPLITTING AND EDITING)
.> PILLOW(FOR IMAGE SPLITTING AND EDITING)
